<a href="https://colab.research.google.com/github/runnin123/Jeju_Bigdata/blob/master/lcl_real_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.cloud import bigquery

import pandas as pd
import numpy as np
import sklearn
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.preprocessing import LabelEncoder

# 평가 메트릭
from sklearn.metrics import mean_squared_error, mean_absolute_error

# 시각화
import seaborn as sns
color = sns.color_palette()
sns.set_style('darkgrid')
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt  # Matlab-style plotting

# 통계
from scipy import stats
from scipy.stats import norm, skew #for some statistics

from sklearn.base import BaseEstimator, TransformerMixin, RegressorMixin, clone
from sklearn.model_selection import KFold, cross_val_score, train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
train = pd.read_csv('/content/drive/My Drive/Colab Notebooks/jeju/201901-202003.csv')
train.head()

   REG_YYMM CARD_SIDO_NM CARD_CCG_NM STD_CLSS_NM  ... FLC CSTMR_CNT      AMT  CNT
0    201901           강원         강릉시  건강보조식품 소매업  ...   1         4   311200    4
1    201901           강원         강릉시  건강보조식품 소매업  ...   2         7  1374500    8
2    201901           강원         강릉시  건강보조식품 소매업  ...   2         6   818700    6
3    201901           강원         강릉시  건강보조식품 소매업  ...   3         4  1717000    5
4    201901           강원         강릉시  건강보조식품 소매업  ...   4         3  1047300    3

[5 rows x 12 columns]

In [3]:
def grap_year(data):
    data = str(data)
    return int(data[:4])

def grap_month(data):
    data = str(data)
    return int(data[4:])

In [4]:
# 날짜 처리
data = train.copy()
data = data.fillna('')
data['REG_YYMM'].head()

0    201901
1    201901
2    201901
3    201901
4    201901
Name: REG_YYMM, dtype: int64

In [5]:
data['year'] = data['REG_YYMM'].apply(lambda x: grap_year(x))
data['month'] = data['REG_YYMM'].apply(lambda x: grap_month(x))
data = data.drop(['REG_YYMM'], axis=1)
data.head()

  CARD_SIDO_NM CARD_CCG_NM STD_CLSS_NM HOM_SIDO_NM  ...      AMT CNT  year  month
0           강원         강릉시  건강보조식품 소매업          강원  ...   311200   4  2019      1
1           강원         강릉시  건강보조식품 소매업          강원  ...  1374500   8  2019      1
2           강원         강릉시  건강보조식품 소매업          강원  ...   818700   6  2019      1
3           강원         강릉시  건강보조식품 소매업          강원  ...  1717000   5  2019      1
4           강원         강릉시  건강보조식품 소매업          강원  ...  1047300   3  2019      1

[5 rows x 13 columns]

In [7]:
local = data[data['CARD_CCG_NM']==data['HOM_CCG_NM']].reset_index(drop=True)

In [12]:
test = local[local['year'] == 2020]

In [15]:
test['REG_YYMM'] = test['year']*100 + test['month']
test = test[['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM', 'AMT']]
test = test.groupby(['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM']).sum().reset_index(drop=False)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
test

      REG_YYMM CARD_SIDO_NM            STD_CLSS_NM         AMT
0       202001           강원             건강보조식품 소매업   176179268
1       202001           강원                골프장 운영업   167730820
2       202001           강원            과실 및 채소 소매업  1009355394
3       202001           강원      관광 민예품 및 선물용품 소매업    10571695
4       202001           강원        그외 기타 스포츠시설 운영업     4625300
...        ...          ...                    ...         ...
1810    202003           충북  피자 햄버거 샌드위치 및 유사 음식점업  1041309658
1811    202003           충북                한식 음식점업  9918236059
1812    202003           충북                    호텔업    13770220
1813    202003           충북          화장품 및 방향제 소매업   332185178
1814    202003           충북               휴양콘도 운영업     3073360

[1815 rows x 4 columns]

In [17]:
len(test[test['REG_YYMM'] == 202001])

614

In [18]:
len(test[test['REG_YYMM'] == 202002])

604

In [19]:
len(test[test['REG_YYMM'] == 202003])

597